{% extends "core/thanks_participate.html" %}
{% block thanks_detail %}
<div class="jumbotron">
<h1>You scored {{ score }}</h1>    
<h2>{{ rank }}</h2>
<div class="fb-share-button pull-right" 
     data-href="http://www.betterdem.org" 
     data-layout="button_count">
</div>
</div>


{% for question_summary in question_summaries %}
<p>
    <h3>{{ question_summary.label }}</h3>
    <table width=100%>
	<tr>
	    <td width=50px>
		{% if question_summary.correct %}
		<h1><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></span></h1>
		{% else %}
		<h1><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></span></h1>
		{% endif %}
	    </td>
	    <td>
		<table class="table">
		    <tbody>
			{% for answer in question_summary.answers %}
			{% if answer.user_answer %}
			{% if answer.correct_answer %}
			<tr><td class="success">{{ answer.option_text }}</td></tr>	    
			{% else %}
			<tr><td class="danger">{{ answer.option_text }}</td></tr>	    
			{% endif %}	    
			{% else %}
			{% if answer.correct_answer %}
			<tr><td class="info">{{ answer.option_text }}</td></tr>
			{% else %}	    
			<tr><td>{{ answer.option_text }}</td></tr>
			{% endif %}
			{% endif %}
			{% endfor %}
		    </tbody>
		</table>
	    </td>
	</tr>
    </table>
</p>
{% endfor %}



<div id="fb-root"></div>
<script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     /* js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1"; */
     js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
     fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}
