dj-database-url==0.4.1
Django==1.10.7
django-registration==2.1.2
django-storages==1.5.1
gunicorn==19.6.0
psycopg2==2.6.2
celery==4.0.2
redis==2.10.5
boto==2.43.0
django-s3direct==0.4.2
numpy==1.12.0
stripe==1.48.1
django_compressor==2.1.1
pyopenstates==1.0.5
pillow==4.1.0
openpyxl==2.4.7
