{% extends "core/base.html" %}
{% block content %}
{% load staticfiles %}


<h2>{{ ballot.name }}</h2>

<i>{{ ballot.ballot_text }}</i>

<h3>The election is coming up on {{ ballot.election_date }}</h3>
<h4>Find out where to register and how to vote <a href="{{ ballot.election_website }}">here!</a></h4>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Tradeoff Questionnaire</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">

	<p>
	  Eventually, we'll put a bunch of nifty widgets here.
	  Just you wait!
	</p>
	
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Back to Basics</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
	
	<p>
	  Check up on your knowledge before you decide with these quiz questions and resources.
	</p>

	{% for item in items %}
	{% if item.custom_template %}
	{% include item.custom_template %}
	{% else %}
	{% include "core/feed_item.html" %}
	{% endif %}
	{% endfor %}

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Points of View</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">

	<div id="pros_and_cons_result">
	  <div class="ajax_form">

	    <p>
	      Here are some arguments for and against {{ ballot.name }}.
	      How important are these points to you?
	    </p>
	    
	    {% for pov in ballot.points_of_view.all %}
	    <div class="panel panel-info">
	      <div class="panel-body">
		
		<p style="display: inline;">
		  {% if pov.favorability > 0 %}
		  <span class="glyphicon glyphicon-plus" aria-hidden="true" style="color:green; font-size: 24px;"></span>
		  {% elif pov.favorability == 0 %}
		  {% else %}
		  <span class="glyphicon glyphicon-minus" aria-hidden="true" style="color:red; font-size: 24px;"></span>
		  {% endif %}
		  &ldquo;
		  {{ pov.quote }} 
		  &rdquo;
		</p>
		
		<p>
		  How important is this point for your decision?<br>
		  <div style="display: inline-block; margin: 20px;"><b>Not at all<br>important</b></div><div style="display: inline-block;"><input type="range" style="max-width: 300px; display: inline;" id="pov_weight_{{ pov.id }}" value="0" max="100" min="0"></div><div style="display: inline-block; margin: 20px;"><b>Very<br>important</b></div>
		</p>
		
	      </div>
	      <div class="panel-footer panel-info">
		Follow our sources <a href = "{{ pov.citation_url }}">here!</a>
	      </div>
	    </div>
	    
	    {% endfor %}

	    <div class="btn btn-primary portal_ajax_submit" role="button" data-target-element="{% for pov in ballot.points_of_view.all %}pov_weight_{{ pov.id }},{% endfor %}" data-result-element="pros_and_cons_result">Decide!</div>
	  </div>
	  
	  <div class="response" style="display: none;">
	    <div class="jumbotron">
	      <p>
		<div class="strong-yes" style="display: none;"><h2 class="text-success"><span class="glyphicon glyphicon-thumbs-up"></span> Strong Yes</h2></div>
		<div class="lean-yes" style="display: none;"><h2 class="text-muted"><span class="glyphicon glyphicon-thumbs-up"></span> Lean Yes</h2></div>
		<div class="no-decision" style="display: none;"><h2 class="text-muted"><span class="glyphicon glyphicon-question-sign"></span> No Decision</h2></div>
		<div class="lean-no" style="display: none;"><h2 class="text-muted"><span class="glyphicon glyphicon-thumbs-down"></span> Lean No</h2></div>
		<div class="strong-no" style="display: none;"><h2 class="text-danger"><span class="glyphicon glyphicon-thumbs-down"></span> Strong No</h2></div>
	      </p>
	      <p>
		<h3>Explanation:</h3>
	      </p>
	      <p>
		&ldquo;<span class="explanation"></span>&rdquo;
	      </p>
	    </div>
	  </div>
	</div>

      </div>
    </div>
  </div>

</div>

<script src="{% static 'core/js/feed_ajax.js' %}"></script>

{% endblock %}
