{% extends "core/feed_item.html" %}
{% block custom_item_content %}

<div id="single_quiz_result_{{ item.id }}">
  <div class="single_quiz_ajax_form">
    <div>{{ item.name }}</div>
    <select id="single_quiz_{{ item.id }}">
      <!--TODO: Store options in a list and iterate over list instead of hardcoding-->
      {% if item.option1 %}  <option value="1">{{ item.option1 }}</option>{% endif %}
      {% if item.option2 %}  <option value="2">{{ item.option2 }}</option>{% endif %}
      {% if item.option3 %}  <option value="3">{{ item.option3 }}</option>{% endif %}
      {% if item.option4 %}  <option value="4">{{ item.option4 }}</option>{% endif %}
      {% if item.option5 %}  <option value="5">{{ item.option5 }}</option>{% endif %}
    </select>
    <div>
      <input type="submit" class="portal_ajax_submit" id="single_quiz_submit_{{ item.id }}" value="Submit" onclick="submit_and_render_results('{{ item.id }}', 'single_quiz', 'jumbotron_feedback.html');" />
    </div>
  </div>
</div>

{% endblock %}
