{% extends "survey/base.html" %}
{% block content%}
<form action="{{ action_path }}" method="post">
    {% csrf_token %}
    {{ form.media }}
    {% for field in form %}
    <p>
        {% if field.errors %}
        <div class="alert alert-warning">{{ field.errors }}</div>
        {% endif %}
        {{ field.label_tag }} <br>
	{{ field }}
        {% if field.help_text %}
        <div class="alert alert-info">{{ field.help_text|safe }}</div>
        {% endif %}
    </p>
    {% endfor %}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
