{% extends "core/base.html" %}
{% block content %}
{% load staticfiles %}
<h2>Donate to Better Democracy Network</h2>

<script src="https://checkout.stripe.com/checkout.js"></script>


<div class="panel panel-default">
  <div class="panel-heading"><h4>How To Donate</h4></div>
  <div class="panel-body">
    <p>
      There are several ways to donate to Better Dem.
      <ul>
	<li><b>On this website: </b> Use your credit card below to donate. A small fee is taken per transaction by Stripe.</li>
	<li><b>Through your employer's philanthropy system: </b> Many employers match employee donations. This is a great way to make your donations go further.</li>
	<li><b>Via snail mail: </b> Make your checks out to <q>Better Democracy Network</q> and mail them to 450 Central Way #4409, Kirkland, WA 98033.</li>
	<li><b>Something different: </b> If none of these options are appropriate for you, but you'd still like to make a donation, please <a href="mailto:info@betterdem.org">email us</a></li>
      </ul>
    </p>
  </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading"><h4>What your donation does</h4></div>
    <div class="panel-body">

      <p>
	Your support allows us to create new tools and educational materials, and to push the envelope changing the way we interact with our government.
      </p>
      
      <p>
	Currently, we are an all-volunteer organization.
	In the future, we plan to hire staff at reasonable salaries.
	See our compensation policy <a target="_blank" href="https://drive.google.com/open?id=1Y_FAjXmDUB5MWbzzqm9I1gNzNAalc5uPHmeoLKadJJM">here</a>.
      </p>

      <p>
	Better Democracy Network is a 501(c)(3) nonprofit based in Kirkland, Washington, and your contributions are tax deductable under the Internal Revenue Code, Section 170.
	This charity currently is registered with the secretary's office under the charitable solicitations act, registration number 40128.
	Find out more <a target="_blank" href="https://www.sos.wa.gov/charities/search-app.aspx#/detail-charity/40128">here</a>.
      </p>

    </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading"><h4>Donate Now Online</h4></div>
  <div class="panel-body">
    <p>
      <h4>Donation Amount</h4>
      <select id="amt">
	{% with "50000 20000 10000 5000 2000 1000 500" as list %}
	{% for amt in list.split %}
	<option value="{{ amt }}">${% widthratio amt 100 1 %}</option>
	{% endfor %}
	{% endwith %}
      </select>
    </p>

    <div style="height: 5px;"></div>
    <p>
      <h4>Frequency</h4>
      <div class="checkbox">
	<label><input type="checkbox" id ="cb">Make this a monthly recurring donation</label>
      </div>
    </p>

    <div style="height: 10px;"></div>
    <p>
      <button type="button" class="btn btn-primary" id="customButton">Donate</button>
    </p>

  </div>
</div>




<script>
var handler = StripeCheckout.configure({
  key: '{{ stripe_publishable_api_key }}',
  image: "{% static "/core/img/portal_logo_small.png" %}",
  locale: 'auto',
  token: function(tok) {
    var donation_amount = $("#amt").val();
    var recurring = "False";
    if ($("#cb").is(':checked')){
	recurring = "True";
    }

    $('<form action="/donate/" method="POST"/>')
        .append($("{% csrf_token %}"))
        .append($('<input type="hidden" name="donation_amount" value="' + donation_amount + '" />'))
        .append($('<input type="hidden" name="recurring" value="' + recurring + '" />'))
        .append($('<input type="hidden" name="stripeToken" value="' + tok.id + '" />'))
        .append($('<input type="hidden" name="email" value="' + tok.email + '" />'))
        .appendTo($(document.body)) //it has to be added somewhere into the <body>
        .submit();
  }
});

document.getElementById('customButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  var donation_amount = $("#amt").val();
  var donation_string = $("#amt :selected").text();
  var desc = "Donation";
  if ($("#cb").is(':checked')){
     desc = "Recurring donation";
  }

  handler.open({
    name: 'Better Democracy Network',
    description: desc+ " for "+donation_string,
    amount: donation_amount,
    zipCode: true,
    panelLabel: "{% templatetag openvariable %}amount{% templatetag closevariable %} "+desc
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>

{% endblock %}
