{% load staticfiles %}
<div class="panel panel-default">
    <div class="panel-heading"><a href="{{ item.link }}">{{ item.label }}</a></div>
    <div class="panel-body">

	{% block display_image %}
	{% if item.display_image_file %}
	<span>
	<img src="{% static item.display_image_file %}" class="img-thumbnail" width="90" height="90">
	</span>
	{% endif %}
	{% endblock %}

	<span class="item_content">
	  <div>
	  {% block custom_item_content %}
	  {{ item.display }}
	  {% endblock %}
	  </div>
	</span>
    </div>
    <div class="panel-footer">
      {% for tag in item.tags %}<span class="label label-default">{{ tag }}</span> {% endfor %}
      <a style="float: right; padding-left: 10px;" href="/report_issues{{ item.link }}" data-toggle="tooltip" title="Report a problem with this item"><span class="glyphicon glyphicon-ban-circle"></span></a>
      <a style="float: right; padding-left: 10px;" data-toggle="tooltip" title="Share this item on Facebook" onclick="share_og('og.likes', 'http://{{ request.META.SERVER_NAME }}{{ item.link }}', 'http://{{ request.META.SERVER_NAME }}{{ item.link }}');"> <span class="glyphicon glyphicon-share" ></span>
      </a>
      <div class="clearfix"></div>
    </div>
</div>
