{% load staticfiles %}
<div class="panel panel-default">
    <div class="panel-heading"><a href="{{ item.link }}">{{ item.label }}</a></div>
    <div class="panel-body">

	{% if item.display_image_file %}
	<img src="{% static item.display_image_file %}" class="img-thumbnail" width="90" height="90">
	{% endif %}

	{% block custom_item_content %}
	{{ item.display }}
	{% endblock %}
    </div>
    <div class="panel-footer">{% for tag in item.tags %}<span class="label label-default">{{ tag }}</span> {% endfor %}</div>
</div>
