{% extends "core/base.html" %}
{% block extra_imports %}
{{ form.media }}
{% endblock %}
{% block content%}
{% if form_title %}<h1> {{ form_title }}</h1>{% endif %}

<form action="{{ action_path }}" {% if enctype_data %}enctype="multipart/form-data"{% endif %} method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-warning">{{ form.non_field_errors }}</div>
    {% endif %}
    {% for field in form %}
    <div>
        {% if field.errors %}
        <div class="alert alert-warning">{{ field.errors }}</div>
        {% endif %}
        <h4>{{ field.label_tag }}</h4>
        {% if field.help_text %}
        <h5>{{ field.help_text|safe }}</h5>
        {% endif %}
	{{ field }}
	<div class="clearfix"></div>
    </div>
    {% endfor %}
    <input type="submit" value="Submit" />
</form>
<br>
{% endblock %}
