{% load staticfiles %}
{% load compress %}
<title>Better Democracy Portal{% if title %}: {{ title }}{% endif %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if og_url %}<meta property="og:url" content="{{ og_url }}" />{% endif %}
{% if og_type %}<meta property="og:type" content="{{ og_type }}" />{% endif %}
{% if og_title %}<meta property="og:title" content="{{ og_title }}" />{% endif %}
{% if og_description %}<meta property="og:description" content="{{ og_description }}" />{% endif %}
{% if og_image %}<meta property="og:image" content="{{ og_image }}" />{% else %}<meta property="og:image" content="{% static 'core/img/portal_logo.png' %}" />{% endif %}

{% comment "static tag below doesn't work, compress requires paths to be the same offline and online" %}
<script type="text/javascript" src="{% static 'core/js/d3.js' %}"></script>
... etc.
<!-- the following works because I've added django.template.context_processors.static to settings file-->
{% endcomment %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}core/css/style.css">
<link rel="stylesheet" href="{{ STATIC_URL }}core/css/bootstrap-tour.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}core/css/dc.css">
{% endcompress %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}core/js/bootstrap-tour.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}core/js/d3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}core/js/crossfilter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}core/js/dc.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '118733658649222',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  var share_og = function(href, quote){
  FB.ui({
  method: 'share',
  quote: quote,
  href: href
  }, function(response){});
  };
</script>
{% endcompress %}
