{% extends "core/base.html" %}
{% block content %}
{% load staticfiles %}

<h2>Manage {{ group.group_type }}: {{ group.name }}</h2>


<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#membership">Manage {{ group.group_type }} Membership <span class="glyphicon glyphicon-chevron-right"></span></a>
      </h4>
    </div>
    <div id="membership" class="panel-collapse collapse">
      <div class="panel-body">

	<h3>Invite a new {{ member_word }}</h3>
	<form action="{{ action_path }}" method="post">
	  {% csrf_token %}
	  <p><input name="new_invitation_name" type="text" placeholder="Invitee's name" /></p>
	  <p><input name="new_invitation_email" type="text" placeholder="Invitee's email (optional)" /></p>
	  <p><input type="submit" value="Submit" /></p>
	</form>

	<table class="table">
	  <thead><th>{{ member_word|capfirst }} Name</th><th>Invitation Accepted?</th><th>Invitation Token</th></thead>
	  <tbody>
	    {% for membership in group.groupmembership_set.all %}<tr><td>{{ membership.member_name }}</td>{% if membership.member is not None %}<td>True</td><td></td>{% else %}<td>False</td><td>{{ membership.invitation_code }}</td>{% endif %}</tr>
	    {% endfor %}
	  </tbody>
	</table>


      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div> 


<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#content">Manage {{ group.group_type }} {{ content_class_word|capfirst }} <span class="glyphicon glyphicon-chevron-right"></span></a>
      </h4>
    </div>
    <div id="content" class="panel-collapse collapse">
      <div class="panel-body">

	{% for app in edu_apps %}
	<p>
	  <a href="{{ app.new_project_link }}" class="btn btn-primary" role="button">New {{ app.label|capfirst }}</a>
	</p>
	{% for project in app.existing_projects %}
	<p>
	  <a href="{{ project.administer_project_link }}" class="btn btn-default" role="button">Administer: {{ project.name }}</a>
	</p>
	{% endfor %}
	{% endfor %}

      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div> 

{% endblock %}
