{% extends "core/base.html" %}
{% block content %}
<h2>Profile for {{ user.username }}</h2>

<div class="panel panel-default">
    <div class="panel-heading">Tags</div>
    <div class="panel-body">
    <p>
	{% for tag in tags %}<span class="label label-default">{{ tag }}</span> {% endfor %}
    </p>
    <p>
	<a href="/update_tags" class="btn btn-primary" role="button">Follow More Topics</a>
    </p>
    </div>
</div>


{% for app in profile_apps %}
<div class="panel panel-default">
    <div class="panel-heading">{{ app.label }}</div>
    <div class="panel-body">
	{% if app.new_project_link %}
	<p>
	    <a href="{{ app.new_project_link }}" class="btn btn-primary" role="button">New Project</a>
	</p>
	{% endif %}
	{% for project in app.existing_projects %}
	<p>
	    <a href="{{ project.administer_project_link }}" class="btn btn-default" role="button">Administer {{ project.name }}</a>
	</p>
	{% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}
