{% extends "core/base.html" %}
{% block content %}
{% load staticfiles %}

<p>
  <a href="{{ project.delete_project_link }}" class="btn btn-danger" role="button">Delete This Project</a>
</p>
{% if project.edit_project_link %}
<p>
  <a href="{{ project.edit_project_link }}" class="btn btn-warning" role="button">Edit This Project</a>
</p>
{% endif %}

<h2>Items</h2>
    Number of items corresponding to this project: {{ items|length }}.
    {% for item in items %}    
    <p>
	{% if item.num_matches %}
	Number of times this item has been recommended to users: {{ item.num_matches }}.
	{% endif %}
    </p>

    <p>
	{% if item.num_visits %}
	Number of times this item has been visited: {{ item.num_visits }}.
	{% endif %}
    </p>
	
    <p>
	How this item is displayed to users:
	{% if item.custom_template %}
	{% include item.custom_template %}
	{% else %}
	{% include "core/feed_item.html" %}
	{% endif %}
    </p>    

    {% block item_detail %}{% endblock %}

    {% endfor %}

<script src="{% static 'core/js/feed_ajax.js' %}"></script>

{% endblock %}
