{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
      {% include "core/head.html" %}
      <style>
	.parallax {
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	
	.p2 {
	height: 200px;
	}

	.full-centered {
	height: 100%;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	}

	.jumbo1 {
	display: block;
	font-size: 72px;
	color: black;
	}
	.jumbo2 {
	display: block;
	font-size: 40px;
	color: black;
	}

	@media (max-width: 1000px) {
	.jumbo1 {
	font-size: 50px;
	}
	.jumbo2 {
	font-size: 25px;
	}
	}
		
	@media (max-width: 600px) {
	.parallax {
	height: 400px;
	}
	.p2 {
	height: 200px;
	}
	.jumbo1 {
	font-size: 32px;
	}
	.jumbo2 {
	font-size: 20px;
	}
	}


	@media (max-width: 400px) {
	.parallax {
	height: 350px;
	}
	.p2 {
	height: 150px;
	}
	.jumbo1 {
	font-size: 25px;
	}
	.jumbo2 {
	font-size: 15px;
	}
	}

      </style>
    </head>
    <body>

      {% include "core/navbar.html" %}

      <!-- Container element -->
      <div class="parallax" style="background-image: url('{% static 'core/img/us_capital_building.jpeg' %}');">
	<div class="full-centered">
	  <div class="jumbo1" style="text-align: center;">Welcome to the Better Democracy Portal</div>
	  <div class="jumbo2" style="text-align: center;">Your resource to learn about and participate in government</div>
	  <div class="jumbo2" style="text-align: center;">Click below to get started!</div>
	  <p>
	    <center>
	      <a href="#ordinary_citizens" class="btn btn-primary" role="button" style="margin:10px;">Ordinary Citizens</a>
	      <a href="#students_teachers" class="btn btn-primary" role="button" style="margin:10px;">Students and Teachers</a>
	      <a href="#public_servants" class="btn btn-primary" role="button" style="margin:10px;">Public Servants</a>
	    </center>
	  </p>
	</div>
      </div>

      <div id="ordinary_citizens" style="height:100px;"></div>
      <div class="container">
	  <div class="panel panel-default">
	      <div class="panel-heading">
		  <div class="panel-title">
		      <h3 style="display: inline;">Ordinary Citizens</h3>
		  </div>
	      </div>

	      <div style="padding:15px;">
		  <div>
		      The Better Democracy Portal is a place for ordinary citizens to learn and find opportunities to impact policy.
		      The participation feed recommends the best and latest opportunities in the places you follow.
		      Check out <a href="/feed/">the feed</a>.
		  </div>
		  <div style="height:10px;"></div>
		  <!-- <div>
		       <a href="/feed/"><img class="img-responsive" src="{% static 'core/img/demo_participation_feed.png' %}"><img></a>
		       </div> -->

		  <p>Some of what you'll find browsing around the participation feed:
		      <ul>
			  <li><b>Open Data Visualizations: </b>Learn what your government is up to. Understand the issues affecting your community.</li>
			  <li><b>Local Government Outreach: </b>Find out about meetings, surveys, and other opportunities to have your voice heard.</li>
			  <li><b>Decision Tools: </b>Make the right decision by learning about the background and effects of a proposal, then weighing important arguments.</li>
			  <li><b>Critical Thinking Exercises: </b>Practice catching illogical arguments on both sides of important issues.</li>
			  <li><b>More: </b>A collection of action-packed tools, quizzes, surveys, articles, and videos awaits!</li>
		      </ul>
		  </p>
	      </div>

	  </div>
      </div>
      <div style="height:100px;"></div>

      <div class="parallax p2" style="background-image: url('{% static 'core/img/us_capital_building.jpeg' %}');">
      </div>


      <div id="students_teachers" style="height:100px;"></div>
      <div class="container">
	  <div class="panel panel-default">
	      <div class="panel-heading">
		  <div class="panel-title">
		      <h3 style="display: inline;">Students and Teachers</h3>
		  </div>
	      </div>

	      <div style="padding:15px;">
		  <div>
		      Students: visit our <a href="/student_home/">Students Site</a>.
		  </div>
		  <div>
		      Teachers: manage your courses and assignments at the <a href="/teacher_home/">Teachers Site</a>.
		  </div>
		  <div style="height:10px;"></div>

	      </div>

	  </div>
      </div>

      <div style="height:100px;"></div>

      <div class="parallax p2" style="background-image: url('{% static 'core/img/us_capital_building.jpeg' %}');">
      </div>



      <div id="public_servants" style="height:100px;"></div>
      <div class="container">
	  <div class="panel panel-default">
	      <div class="panel-heading">
		  <div class="panel-title">
		      <h3 style="display: inline;">Public Servants</h3>
		  </div>
	      </div>
	      <div style="padding:15px;">
		  We provide a growing suite of free web tools for you to inform and engage with your constituents.
	      </div>

	      <div class="panel-body flex-container">

		  <div style="max-width:300px; padding:15px;">
		      <div>
			  <h3>Land Use Planning Outreach</h3>
			  Doing outreach for a land use planning project? Need to get feedback from constituents? Run a survey using our land use planning outreach tool.
			  <a href="mailto:{{ email }}">Contact us</a> to sign up for FREE access for your city.
		      </div>
		      <div style="height:10px;"></div>
		      <div>
			  <img class="img-responsive" src="{% static 'core/img/demo_land_use.png' %}"><img>
		      </div>
		  </div>

		  <div style="max-width:300px; padding:15px;">
		      <div>
			  <h3>City Budget Transparency</h3>
			  Want to save time answering constituent questions about your budget's basics? Want your constituents to be informed and able to make smart decisions on local ballot measures? Want beautiful visuals to explore your city's spending without spending six figures? Try our city budget transparency tool.
			  Check out <a href="/kirkland_budget">an example</a>, or <a href="mailto:{{ email }}">contact us</a> to sign up for FREE access for your city.
		      </div>
		      <div style="height:10px;"></div>
		      <div>
			  <img class="img-responsive" src="{% static 'core/img/demo_city_budgeting.png' %}"><img>
		      </div>
		  </div>

		  <div style="max-width:300px; padding:15px;">
		      <div>
			  <h3>Public Meetings</h3>
			  Want more participation without the mailing lists? Want to hear from constituents who can't make the meeting? Want to follow up with attendees? Try our public meeting tool.
			  <a href="mailto:{{ email }}">Contact us</a> to sign up for FREE access for your city.
		      </div>
		      <div style="height:10px;"></div>
		      <div>
			  <img class="img-responsive" src="{% static 'core/img/public_meeting.png' %}"><img>
		      </div>
		  </div>

		  <div style="max-width:300px; padding:15px;">
		      <div>
			  <h3>Civic Engagement Tech Exchange</h3>
			  Looking for something else? Our tech exchange has information about dozens of useful tools that might do the trick.
			  Check out <a href="/apps/tool_review/overview/-1">the tool exchange</a>.
		      </div>
		      <div style="height:10px;"></div>
		      <div>
			  <a href="/apps/tool_review/overview/-1"><img class="img-responsive" src="{% static 'core/img/demo_tool_exchange.png' %}"><img></a>
		      </div>
		  </div>
	      </div>
	  </div>
      </div>

      <div style="height:100px;"></div>

      <div class="parallax p2" style="background-image: url('{% static 'core/img/us_capital_building.jpeg' %}');">
      </div>

      <div style="text-align: center;">
	<p></p>
	<p>
	  The Better Democracy Portal is built and operated by Better Democracy Network.
	</p>
	<p>
	  Learn more about the Better Democracy Network <a href="http://betterdem.org">here</a>.
	</p>
	<p></p>
      </div>

    </body>
</html>
