{% extends "core/base.html" %}
{% block content %}
{% load staticfiles %}
<h2>Tags Overview</h2>

{% for r in reports %}
<div class="panel panel-default">
    <div class="panel-heading"><b>{{ r.label }}</b> - Count: {{ r.num }}</div>
    <div class="panel-body">
      {% if r.top10 %}
      <table class="table">
	<thead><th>Tag Name</th></thead>
	<tbody>
	  {% for t in r.top10 %}
	  <tr><td>{{ t.get_name }}</td></tr>	    
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}
