{% extends "core/base.html" %}
{% block content %}
<p>
Thank you for {{ action_description }}.
</p>

{% if unregistered %}
<p>
Please <a href="/accounts/register">register</a> to use our full features and get updates.
</p>
{% endif %}

{% block thanks_detail %}
{% endblock %}

{% if item_link %}
<p>
You can administer this project <a href={{ item_link }}>here</a>.
</p>
{% endif %}


<p>{% if user.userprofile.role == "Student" %}
<a href="/student_home" data-toggle="tooltip" title="Visit the student portal">Return to home</a>
{% elif user.userprofile.role == "Teacher" %}
<a href="/teacher_home" data-toggle="tooltip" title="Visit the teacher portal">Return to home</a>
{% elif user.userprofile.role == "Journalist" %}
<a href="/feed" data-toggle="tooltip" title="Visit your participation feed">Return to home</a>
{% elif user.userprofile.role == "Ordinary Citizen" %}
<a href="/feed" data-toggle="tooltip" title="Visit your participation feed">Return to home</a>
{% else %}
<a href="/feed" data-toggle="tooltip" title="Visit your participation feed">Return to home</a>
{% endif %}</p>

{% endblock %}
