.page-header h1 a {
    color: black;
}

.page-header a {
    padding-right: 10px;
}

.panel-body img {
    float: left;
    margin-right: 15px;
}

/* to prevent the nav bar from covering the top of the page */
body {
  padding-top: 50px;
}

/* to prevent buttons from getting really long */
/* if they do, they can drag the nav bar off screen from small devices */
.btn {
    white-space: normal;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.item-mini-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


.item-mini {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block; 
    width: 163px; 
    /* height: 400px;  */
    vertical-align:top; 
    margin: 10px;
}

.item-mini img {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

.item-mini:hover {
    background-color: #CCCCCC;
}

/* The following borrowed from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
