.page-header h1 a {
    color: black;
}

.page-header a {
    padding-right: 10px;
}

.panel-body img {
    float: left;
    margin-right: 15px;
}

/* to prevent the nav bar from covering the top of the page */
body {
  padding-top: 50px;
}

/* to prevent buttons from getting really long */
/* if they do, they can drag the nav bar off screen fro small devices */
.btn {
    white-space: normal;
}