{% extends "core/feed_item.html" %}
{% block display_image %}
{% endblock %}
{% block custom_item_content %}


<h3>{{ item.project_name }}</h3>
<div id="IV_anchor_{{ item.project_id }}"></div>
{% if item.switch_variable %}
<div style="padding-bottom: 10px;">
  <h4>{{ item.switch_title }}</h4>
  <div style="padding-bottom: 5px;">
  {{ item.switch_note }}
  </div>
  <div id="dc_switch_{{ item.project_id }}"></div>
</div>
{% endif %}

<div class="row" style="padding-left: 15px;">
  {% if item.bar1_variable %}
  <div id="bar1_{{ item.project_id }}_div">
    <h4 style="display: inline;">{{ item.bar1_title }}</h4>
    <a class="reset" href="javascript:bar1_{{ item.project_id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
  {% endif %}

  {% if item.pie1_variable %}
  <div id="pie1_{{ item.project_id }}_div">
    <h4 style="display: inline;">{{ item.pie1_title }}</h4>
    <a class="reset" href="javascript:pie1_{{ item.project_id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
  {% endif %}

  {% if item.bar2_variable %}
  <div id="bar2_{{ item.project_id }}_div">
    <h4 style="display: inline;">{{ item.bar2_title }}</h4>
    <a class="reset" href="javascript:bar2_{{ item.project_id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
  {% endif %}

  {% if item.pie2_variable %}
  <div id="pie2_{{ item.project_id }}_div">
    <h4 style="display: inline;">{{ item.pie2_title }}</h4>
    <a class="reset" href="javascript:pie2_{{ item.project_id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
  {% endif %}
</div>

<div style="padding-left: 15px;">
  <h4>Methodology Note</h4>
  {{ item.methodology_note }}<br>
  Find out more about our methodology <a href="{{ item.methodology_url }}">here</a>
</div>

<script>

// declare charts as globals
var iv_data_loaded_{{ item.project_id }}_chart = false;
{% if item.bar1_variable %}var bar1_{{ item.project_id }}_chart = null;{% endif %}
{% if item.bar2_variable %}var bar2_{{ item.project_id }}_chart = null;{% endif %}
{% if item.pie1_variable %}var pie1_{{ item.project_id }}_chart = null;{% endif %}
{% if item.pie2_variable %}var pie2_{{ item.project_id }}_chart = null;{% endif %}

var handle_dc_switch_toggle_IV_{{ item.project_id }} = function(elem){}

var resize_IV_charts_{{ item.project_id }} = function(){
     if (!iv_data_loaded_{{ item.project_id }}_chart){
	 return;
     }

     var horizontal_space_available = document.getElementById("IV_anchor_{{ item.project_id }}").parentNode.clientWidth - 30;
     var num_charts = 0;
     {% if item.bar1_variable %}num_charts += 1;{% endif %}
     {% if item.bar2_variable %}num_charts += 1;{% endif %}
     {% if item.pie1_variable %}num_charts += 1;{% endif %}
     {% if item.pie2_variable %}num_charts += 1;{% endif %}
     var width = 300;
     if (horizontal_space_available > num_charts * 350){
	 width = d3.min([Math.floor(horizontal_space_available / num_charts), 500]);
     } else {
	 width = d3.min([Math.floor(horizontal_space_available), 500]);
     }
     
     var height = d3.max([Math.floor(width * 1.0/2), 200])
     {% if item.bar1_variable %}bar1_{{ item.project_id }}_chart.width(width).height(height).rescale().redraw();{% endif %}
     {% if item.bar2_variable %}bar2_{{ item.project_id }}_chart.width(width).height(height).rescale().redraw();{% endif %}
     {% if item.pie1_variable %}pie1_{{ item.project_id }}_chart.width(width).height(height).redraw();{% endif %}
     {% if item.pie2_variable %}pie2_{{ item.project_id }}_chart.width(width).height(height).redraw();{% endif %}
 };
 
$( window ).resize(function() {
     resize_IV_charts_{{ item.project_id }}();
});



// No spaces around commas! This is important!! :( 
d3.csv("/apps/interactive_visualization/customActionCsvData/{{ item.id }}", function(parsed_data_IV_{{ item.project_id }}){
     console.log('parsed data', parsed_data_IV_{{ item.project_id }})
     var bin_width_IV_{{ item.project_id }}=5 // this value is overwritten
     var num_bins_IV = 10;
     var xfilter_IV_{{ item.project_id }} = crossfilter(parsed_data_IV_{{ item.project_id }});

     //// bar chart 1
     {% if item.bar1_variable %}
     var xExtent = d3.extent(parsed_data_IV_{{ item.project_id }}, function(d) { return +d["{{ item.bar1_variable }}"]; });
     var min = xExtent[0];
     var max = xExtent[1];
     bin_width_IV_{{ item.project_id }} = 1.0 * (max - min) / num_bins_IV;
     var xMin = min - bin_width_IV_{{ item.project_id }}
     var xMax = max + bin_width_IV_{{ item.project_id }}
     console.log(min, max, xMin, xMax, bin_width_IV_{{ item.project_id }})

     var bar1_dimension_{{ item.project_id }} = xfilter_IV_{{ item.project_id }}.dimension(function(d) {return +d["{{ item.bar1_variable }}"];}),
	 number_of_samples = bar1_dimension_{{ item.project_id }}.group(function(d) { return 1.0 * bin_width_IV_{{ item.project_id }} * Math.floor(1.0 * d / bin_width_IV_{{ item.project_id }})});

     bar1_{{ item.project_id }}_chart = dc.barChart("#bar1_{{ item.project_id }}_div"); 
     bar1_{{ item.project_id }}_chart
    .width(350)
    .height(200)
    .dimension(bar1_dimension_{{ item.project_id }})
    .group(number_of_samples)
    .turnOnControls(true)
    .x(d3.scale.linear().domain([xMin, xMax]))
    .xAxisPadding(bin_width_IV_{{ item.project_id }})
    .xUnits(dc.units.fp.precision(bin_width_IV_{{ item.project_id }}))
    .elasticY(true)
    .brushOn(true)
    .yAxisLabel("{{ item.bar1_y_label }}")
    .xAxisLabel("{{ item.bar1_x_label }}")
     {% endif %}

     //// bar chart 2
     {% if item.bar2_variable %}
     var xExtent = d3.extent(parsed_data_IV_{{ item.project_id }}, function(d) { return +d["{{ item.bar2_variable }}"]; });
     var min = xExtent[0];
     var max = xExtent[1];
     bin_width_IV_{{ item.project_id }} = 1.0 * (max - min) / num_bins_IV;
     var xMin = min - bin_width_IV_{{ item.project_id }}
     var xMax = max + bin_width_IV_{{ item.project_id }}
     console.log(min, max, xMin, xMax, bin_width_IV_{{ item.project_id }})

     var bar2_dimension_{{ item.project_id }} = xfilter_IV_{{ item.project_id }}.dimension(function(d) {return +d["{{ item.bar2_variable }}"];}),
	 number_of_samples = bar2_dimension_{{ item.project_id }}.group(function(d) { return bin_width_IV_{{ item.project_id }} * Math.floor(1.0 * d / bin_width_IV_{{ item.project_id }})});

     bar2_{{ item.project_id }}_chart = dc.barChart("#bar2_{{ item.project_id }}_div"); 
     bar2_{{ item.project_id }}_chart
    .width(350)
    .height(200)
    .dimension(bar2_dimension_{{ item.project_id }})
    .group(number_of_samples)
    .turnOnControls(true)
    .x(d3.scale.linear().domain([xMin, xMax]))
    .xAxisPadding(bin_width_IV_{{ item.project_id }})
    .xUnits(dc.units.fp.precision(bin_width_IV_{{ item.project_id }}))
    .elasticY(true)
    .brushOn(true)
    .yAxisLabel("{{ item.bar2_y_label }}")
    .xAxisLabel("{{ item.bar2_x_label }}")
     {% endif %}

     //// pie chart 1 (for now, I'm actually using row charts instead of pie charts)
     {% if item.pie1_variable %}
     var pie1_dimension_{{ item.project_id }} = xfilter_IV_{{ item.project_id }}.dimension(function(d) {return d["{{ item.pie1_variable }}"];}),
	 number_of_samples = pie1_dimension_{{ item.project_id }}.group();

     pie1_{{ item.project_id }}_chart = dc.pieChart("#pie1_{{ item.project_id }}_div");
     pie1_{{ item.project_id }}_chart
    .width(350)
    .height(200)
    .dimension(pie1_dimension_{{ item.project_id }})
    .group(number_of_samples)
    .legend(dc.legend());
     {% endif %}

     //// pie chart 2 (for now, I'm actually using row charts instead of pie charts)
     {% if item.pie2_variable %}
     var pie2_dimension_{{ item.project_id }} = xfilter_IV_{{ item.project_id }}.dimension(function(d) {return d["{{ item.pie2_variable }}"];}),
	 number_of_samples = pie2_dimension_{{ item.project_id }}.group();

     pie2_{{ item.project_id }}_chart = dc.pieChart("#pie2_{{ item.project_id }}_div");
     pie2_{{ item.project_id }}_chart
    .width(350)
    .height(200)
    .dimension(pie2_dimension_{{ item.project_id }})
    .group(number_of_samples)
    .legend(dc.legend());
     {% endif %}

     //// Render all charts
     {% if item.bar1_variable %}bar1_{{ item.project_id }}_chart.render(){% endif %}
     {% if item.bar2_variable %}bar2_{{ item.project_id }}_chart.render(){% endif %}
     {% if item.pie1_variable %}pie1_{{ item.project_id }}_chart.render(){% endif %}
     {% if item.pie2_variable %}pie2_{{ item.project_id }}_chart.render(){% endif %}

     //// set up a data toggle using radio buttons
     {% if item.switch_variable %}
     var toggl_dim_IV_{{ item.project_id }} = xfilter_IV_{{ item.project_id }}.dimension(function(d) {return d["{{ item.switch_variable }}"];});
     handle_dc_switch_toggle_IV_{{ item.project_id }} = function(elem){
	 $('.dc_switch_IV_{{ item.project_id }}').removeClass("btn-info");
	 $('.dc_switch_IV_{{ item.project_id }}').addClass("btn-default");
	 $(elem).removeClass("btn-default");
	 $(elem).addClass("btn-info");
	 var val = elem.value;
	 toggl_dim_IV_{{ item.project_id }}.filterAll()
	 toggl_dim_IV_{{ item.project_id }}.filter(function(d){return d == val;})
	 dc.redrawAll();
     }

     var toggle_group_IV_{{ item.project_id }} = toggl_dim_IV_{{ item.project_id }}.group();
     var toggle_keys_IV_{{ item.project_id }} = toggle_group_IV_{{ item.project_id }}.all().map(function(x) {return x.key;})
     var switch_elem_IV_{{ item.project_id }} = document.getElementById("dc_switch_{{ item.project_id }}")
     for (var i = 0; i < toggle_keys_IV_{{ item.project_id }}.length; i++){
	 var selected_str = "btn-default"
	 if (i==0){
	     selected_str = "btn-info"
	     handle_dc_switch_toggle_IV_{{ item.project_id }}({"value":toggle_keys_IV_{{ item.project_id }}[i]})
	 }
	 switch_elem_IV_{{ item.project_id }}.innerHTML += "<input type='button' class='dc_switch_IV_{{ item.project_id }} btn "+selected_str+"' onclick='handle_dc_switch_toggle_IV_{{ item.project_id }}(this);' name='optradio' value='"+toggle_keys_IV_{{ item.project_id }}[i]+"'>"
     }
     {% endif %}

     // remove filters and redraw bar charts so they don't start out with a reset button 
     // (due to what I assume is a dc.js bug)
     {% if item.bar1_variable %}bar1_{{ item.project_id }}_chart.filterAll(){% endif %}
     {% if item.bar2_variable %}bar2_{{ item.project_id }}_chart.filterAll(){% endif %}

     iv_data_loaded_{{ item.project_id }}_chart = true;
     resize_IV_charts_{{ item.project_id }}();
     dc.redrawAll()
});


// the portal interface for a page to refresh item widgets in the case of hiding / showing, etc.
var portal_item_refresh_{{ item.id }} = function(){
resize_IV_charts_{{ item.project_id }}();
}

</script>


{% endblock %}
