{% extends "core/feed_item.html" %}
{% block display_image %}
{% endblock %}
{% block custom_item_content %}

<h3>{{ item.projectobj.name }}</h3>
<div id="IV_anchor_{{ item.projectobj.id }}"></div>
{% if item.projectobj.switch_variable %}
<p>
  <h4>{{ item.projectobj.switch_title }}</h4>
  {{ item.projectobj.switch_note }}
  <div id="dc_switch_{{ item.projectobj.id }}"></div>
</p>
{% endif %}

{% if item.projectobj.bar1_variable %}
<div class="row">
  <div id="bar1_{{ item.projectobj.id }}_div" style="margin-left: 15px;">
    <h4>{{ item.projectobj.bar1_title }}</h4>
    <a class="reset" href="javascript:bar1_{{ item.projectobj.id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
</div>
{% endif %}

{% if item.projectobj.pie1_variable %}
<div class="row">
  <div id="pie1_{{ item.projectobj.id }}_div" style="margin-left: 15px;">
    <h4>{{ item.projectobj.pie1_title }}</h4>
    <a class="reset" href="javascript:pie1_{{ item.projectobj.id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
</div>
{% endif %}

{% if item.projectobj.bar2_variable %}
<div class="row">
  <div id="bar2_{{ item.projectobj.id }}_div" style="margin-left: 15px;">
    <h4>{{ item.projectobj.bar2_title }}</h4>
    <a class="reset" href="javascript:bar2_{{ item.projectobj.id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
</div>
{% endif %}

{% if item.projectobj.pie2_variable %}
<div class="row">
  <div id="pie2_{{ item.projectobj.id }}_div" style="margin-left: 15px;">
    <h4>{{ item.projectobj.pie2_title }}</h4>
    <a class="reset" href="javascript:pie2_{{ item.projectobj.id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
</div>
{% endif %}

<p>
<h4>Methodology Note: </h4>{{ item.projectobj.methodology_note }}<br>
Find out more about our methodology <a href="{{ item.projectobj.methodology_url }}">here</a>
</p>

<!-- No spaces around commas! This is important!! :( -->
<pre id="data_IV_{{ item.projectobj.id }}" style="display: none;">
{{ item.projectobj.csv_data }}
</pre>


<script>

var parsed_data_IV_{{ item.projectobj.id }} = d3.csv.parse(d3.select('pre#data_IV_{{ item.projectobj.id }}').text());
console.log('parsed data', parsed_data_IV_{{ item.projectobj.id }})
var bin_width_IV_{{ item.projectobj.id }}=5 // this value is overwritten
var num_bins_IV = 10;
var xfilter_IV_{{ item.projectobj.id }} = crossfilter(parsed_data_IV_{{ item.projectobj.id }});


//// bar chart 1
{% if item.projectobj.bar1_variable %}
var xExtent = d3.extent(parsed_data_IV_{{ item.projectobj.id }}, function(d) { return +d["{{ item.projectobj.bar1_variable }}"]; });
var min = xExtent[0];
var max = xExtent[1];
bin_width_IV_{{ item.projectobj.id }} = 1.0 * (max - min) / num_bins_IV;
var xMin = min - bin_width_IV_{{ item.projectobj.id }}
var xMax = max + bin_width_IV_{{ item.projectobj.id }}
console.log(min, max, xMin, xMax, bin_width_IV_{{ item.projectobj.id }})

var bar1_dimension_{{ item.projectobj.id }} = xfilter_IV_{{ item.projectobj.id }}.dimension(function(d) {return +d["{{ item.projectobj.bar1_variable }}"];}),
    number_of_samples = bar1_dimension_{{ item.projectobj.id }}.group(function(d) { return 1.0 * bin_width_IV_{{ item.projectobj.id }} * Math.floor(1.0 * d / bin_width_IV_{{ item.projectobj.id }})});

var bar1_{{ item.projectobj.id }}_chart = dc.barChart("#bar1_{{ item.projectobj.id }}_div"); 
bar1_{{ item.projectobj.id }}_chart
    .width(350)
    .height(200)
    .dimension(bar1_dimension_{{ item.projectobj.id }})
    .group(number_of_samples)
    .turnOnControls(true)
    .x(d3.scale.linear().domain([xMin, xMax]))
    .xAxisPadding(bin_width_IV_{{ item.projectobj.id }})
    .xUnits(dc.units.fp.precision(bin_width_IV_{{ item.projectobj.id }}))
    .elasticY(true)
    .brushOn(true)
    .yAxisLabel("{{ item.projectobj.bar1_y_label }}")
    .xAxisLabel("{{ item.projectobj.bar1_x_label }}")
{% endif %}

//// bar chart 2
{% if item.projectobj.bar2_variable %}
var xExtent = d3.extent(parsed_data_IV_{{ item.projectobj.id }}, function(d) { return +d["{{ item.projectobj.bar2_variable }}"]; });
var min = xExtent[0];
var max = xExtent[1];
bin_width_IV_{{ item.projectobj.id }} = 1.0 * (max - min) / num_bins_IV;
var xMin = min - bin_width_IV_{{ item.projectobj.id }}
var xMax = max + bin_width_IV_{{ item.projectobj.id }}
console.log(min, max, xMin, xMax, bin_width_IV_{{ item.projectobj.id }})

var bar2_dimension_{{ item.projectobj.id }} = xfilter_IV_{{ item.projectobj.id }}.dimension(function(d) {return +d["{{ item.projectobj.bar2_variable }}"];}),
    number_of_samples = bar2_dimension_{{ item.projectobj.id }}.group(function(d) { return bin_width_IV_{{ item.projectobj.id }} * Math.floor(1.0 * d / bin_width_IV_{{ item.projectobj.id }})});

var bar2_{{ item.projectobj.id }}_chart = dc.barChart("#bar2_{{ item.projectobj.id }}_div"); 
bar2_{{ item.projectobj.id }}_chart
    .width(350)
    .height(200)
    .dimension(bar2_dimension_{{ item.projectobj.id }})
    .group(number_of_samples)
    .turnOnControls(true)
    .x(d3.scale.linear().domain([xMin, xMax]))
    .xAxisPadding(bin_width_IV_{{ item.projectobj.id }})
    .xUnits(dc.units.fp.precision(bin_width_IV_{{ item.projectobj.id }}))
    .elasticY(true)
    .brushOn(true)
    .yAxisLabel("{{ item.projectobj.bar2_y_label }}")
    .xAxisLabel("{{ item.projectobj.bar2_x_label }}")
{% endif %}

//// pie chart 1 (for now, I'm actually using row charts instead of pie charts)
{% if item.projectobj.pie1_variable %}
var pie1_dimension_{{ item.projectobj.id }} = xfilter_IV_{{ item.projectobj.id }}.dimension(function(d) {return d["{{ item.projectobj.pie1_variable }}"];}),
    number_of_samples = pie1_dimension_{{ item.projectobj.id }}.group();

var pie1_{{ item.projectobj.id }}_chart = dc.pieChart("#pie1_{{ item.projectobj.id }}_div");
pie1_{{ item.projectobj.id }}_chart
    .width(350)
    .height(200)
    .dimension(pie1_dimension_{{ item.projectobj.id }})
    .group(number_of_samples)
    .legend(dc.legend());
{% endif %}

//// pie chart 2 (for now, I'm actually using row charts instead of pie charts)
{% if item.projectobj.pie2_variable %}
var pie2_dimension_{{ item.projectobj.id }} = xfilter_IV_{{ item.projectobj.id }}.dimension(function(d) {return d["{{ item.projectobj.pie2_variable }}"];}),
    number_of_samples = pie2_dimension_{{ item.projectobj.id }}.group();

var pie2_{{ item.projectobj.id }}_chart = dc.pieChart("#pie2_{{ item.projectobj.id }}_div");
pie2_{{ item.projectobj.id }}_chart
    .width(350)
    .height(200)
    .dimension(pie2_dimension_{{ item.projectobj.id }})
    .group(number_of_samples)
    .legend(dc.legend());
{% endif %}

//// Render all charts
{% if item.projectobj.bar1_variable %}bar1_{{ item.projectobj.id }}_chart.render(){% endif %}
{% if item.projectobj.bar2_variable %}bar2_{{ item.projectobj.id }}_chart.render(){% endif %}
{% if item.projectobj.pie1_variable %}pie1_{{ item.projectobj.id }}_chart.render(){% endif %}
{% if item.projectobj.pie2_variable %}pie2_{{ item.projectobj.id }}_chart.render(){% endif %}

//// set up a data toggle using radio buttons
{% if item.projectobj.switch_variable %}
var toggl_dim_IV_{{ item.projectobj.id }} = xfilter_IV_{{ item.projectobj.id }}.dimension(function(d) {return d["{{ item.projectobj.switch_variable }}"];});
var handle_dc_switch_toggle_IV_{{ item.projectobj.id }} = function(elem){
    var val = elem.value;
    toggl_dim_IV_{{ item.projectobj.id }}.filterAll()
    toggl_dim_IV_{{ item.projectobj.id }}.filter(function(d){return d == val;})
    dc.redrawAll();
}

var toggle_group_IV_{{ item.projectobj.id }} = toggl_dim_IV_{{ item.projectobj.id }}.group();
var toggle_keys_IV_{{ item.projectobj.id }} = toggle_group_IV_{{ item.projectobj.id }}.all().map(function(x) {return x.key;})
var switch_elem_IV_{{ item.projectobj.id }} = document.getElementById("dc_switch_{{ item.projectobj.id }}")
for (var i = 0; i < toggle_keys_IV_{{ item.projectobj.id }}.length; i++){
    var selected_str = ""
    if (i==0){
    selected_str = " checked='checked'"
    handle_dc_switch_toggle_IV_{{ item.projectobj.id }}({"value":toggle_keys_IV_{{ item.projectobj.id }}[i]})
    }
    switch_elem_IV_{{ item.projectobj.id }}.innerHTML += "<div class='radio-inline'><label><input type='radio' onclick='handle_dc_switch_toggle_IV_{{ item.projectobj.id }}(this);' name='optradio' value='"+toggle_keys_IV_{{ item.projectobj.id }}[i]+"'"+ selected_str +">"+toggle_keys_IV_{{ item.projectobj.id }}[i]+"</label></div>"
}
{% endif %}

//// Finalize charts: add axis labels and re-draw to work around dc.js issues

var resize_IV_charts_{{ item.projectobj.id }} = function(){
var width = d3.max([document.getElementById("IV_anchor_{{ item.projectobj.id }}").parentNode.clientWidth - 30, 300]);
var height = d3.max([Math.floor(width * 1.0/2), 200])
console.log(width)
{% if item.projectobj.bar1_variable %}bar1_{{ item.projectobj.id }}_chart.width(width).height(height).rescale().redraw();{% endif %}
{% if item.projectobj.bar2_variable %}bar2_{{ item.projectobj.id }}_chart.width(width).height(height).rescale().redraw();{% endif %}
{% if item.projectobj.pie1_variable %}pie1_{{ item.projectobj.id }}_chart.width(width).height(height).redraw();{% endif %}
{% if item.projectobj.pie2_variable %}pie2_{{ item.projectobj.id }}_chart.width(width).height(height).redraw();{% endif %}
}

$( window ).resize(function() {
resize_IV_charts_{{ item.projectobj.id }}();
});


// remove filters and redraw bar charts so they don't start out with a reset button 
// (due to what I assume is a dc.js bug)
{% if item.projectobj.bar1_variable %}bar1_{{ item.projectobj.id }}_chart.filterAll(){% endif %}
{% if item.projectobj.bar2_variable %}bar2_{{ item.projectobj.id }}_chart.filterAll(){% endif %}
resize_IV_charts_{{ item.projectobj.id }}();
dc.redrawAll()

</script>

{% endblock %}
