{% extends "core/base.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'interactive_visualization/css/dc.css' %}">
<script type="text/javascript" src="{% static 'interactive_visualization/js/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'interactive_visualization/js/crossfilter.js' %}"></script>
<script type="text/javascript" src="{% static 'interactive_visualization/js/dc.js' %}"></script>

{% if project.switch_variable %}
<p>
  <strong>{{ project.switch_title }}</strong>
  <div id="dc_switch_{{ project.id }}"></div>
  {{ project.switch_note }}
</p>
{% endif %}

{% if project.bar1_variable %}
<div class="row">
  <div id="bar1_{{ project.id }}_div" style="margin-left: 15px;">
    <strong>{{ project.bar1_title }}</strong>
    <a class="reset" href="javascript:bar1_{{ project.id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
</div>
{% endif %}

{% if project.pie1_variable %}
<div class="row">
  <div id="pie1_{{ project.id }}_div" style="margin-left: 15px;">
    <strong>{{ project.pie1_title }}</strong>
    <a class="reset" href="javascript:pie1_{{ project.id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
</div>
{% endif %}

{% if project.bar2_variable %}
<div class="row">
  <div id="bar2_{{ project.id }}_div" style="margin-left: 15px;">
    <strong>{{ project.bar2_title }}</strong>
    <a class="reset" href="javascript:bar2_{{ project.id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
</div>
{% endif %}

{% if project.pie2_variable %}
<div class="row">
  <div id="pie2_{{ project.id }}_div" style="margin-left: 15px;">
    <strong>{{ project.pie2_title }}</strong>
    <a class="reset" href="javascript:pie2_{{ project.id }}_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

    <div class="clearfix"></div>
  </div>
</div>
{% endif %}

<!-- No spaces around commas! This is important!! :( -->
<pre id="data_IV_{{ project.id }}" style="display: none;">
{{ project.csv_data }}
</pre>


<script>

var parsed_data_IV_{{ project.id }} = d3.csv.parse(d3.select('pre#data_IV_{{ project.id }}').text());
console.log('parsed data', parsed_data_IV_{{ project.id }})
var bin_width_IV_{{ project.id }}=5
var xfilter_IV_{{ project.id }} = crossfilter(parsed_data_IV_{{ project.id }});

//// bar chart 1
{% if project.bar1_variable %}
var bar1_dimension_{{ project.id }} = xfilter_IV_{{ project.id }}.dimension(function(d) {return +d["{{ project.bar1_variable }}"];}),
    number_of_samples = bar1_dimension_{{ project.id }}.group(function(d) { return bin_width_IV_{{ project.id }} * Math.floor(1.0 * d / bin_width_IV_{{ project.id }})});

var bar1_{{ project.id }}_chart = dc.barChart("#bar1_{{ project.id }}_div"); 
bar1_{{ project.id }}_chart
    .width(300)
    .height(200)
    .dimension(bar1_dimension_{{ project.id }})
    .group(number_of_samples)
    .turnOnControls(true)
    .elasticX(true)
    .x(d3.scale.linear())
    .xAxisPadding(10)
    .xUnits(dc.units.fp.precision(bin_width_IV_{{ project.id }}))
    .brushOn(true)
    .yAxisLabel("{{ project.bar1_y_label }}")
    .xAxisLabel("{{ project.bar1_x_label }}")
{% endif %}

//// bar chart 2
{% if project.bar2_variable %}
var bar2_dimension_{{ project.id }} = xfilter_IV_{{ project.id }}.dimension(function(d) {return +d["{{ project.bar2_variable }}"];}),
    number_of_samples = bar2_dimension_{{ project.id }}.group(function(d) { return bin_width_IV_{{ project.id }} * Math.floor(1.0 * d / bin_width_IV_{{ project.id }})});

var bar2_{{ project.id }}_chart = dc.barChart("#bar2_{{ project.id }}_div"); 
bar2_{{ project.id }}_chart
    .width(300)
    .height(200)
    .dimension(bar2_dimension_{{ project.id }})
    .group(number_of_samples)
    .turnOnControls(true)
    .elasticX(true)
    .x(d3.scale.linear())
    .xAxisPadding(10)
    .xUnits(dc.units.fp.precision(bin_width_IV_{{ project.id }}))
    .brushOn(true)
    .yAxisLabel("{{ project.bar2_y_label }}")
    .xAxisLabel("{{ project.bar2_x_label }}")
{% endif %}

//// pie chart 1 (for now, I'm actually using row charts instead of pie charts)
{% if project.pie1_variable %}
var pie1_dimension_{{ project.id }} = xfilter_IV_{{ project.id }}.dimension(function(d) {return d["{{ project.pie1_variable }}"];}),
    number_of_samples = pie1_dimension_{{ project.id }}.group();

var pie1_{{ project.id }}_chart = dc.rowChart("#pie1_{{ project.id }}_div");
pie1_{{ project.id }}_chart
    .width(300)
    .height(200)
    .x(d3.scale.ordinal())
    .elasticX(true)
    .dimension(pie1_dimension_{{ project.id }})
    .group(number_of_samples)
{% endif %}

//// pie chart 2 (for now, I'm actually using row charts instead of pie charts)
{% if project.pie2_variable %}
var pie2_dimension_{{ project.id }} = xfilter_IV_{{ project.id }}.dimension(function(d) {return d["{{ project.pie2_variable }}"];}),
    number_of_samples = pie2_dimension_{{ project.id }}.group();

var pie2_{{ project.id }}_chart = dc.rowChart("#pie2_{{ project.id }}_div");
pie2_{{ project.id }}_chart
    .width(300)
    .height(200)
    .x(d3.scale.ordinal())
    .elasticX(true)
    .dimension(pie2_dimension_{{ project.id }})
    .group(number_of_samples)
{% endif %}

//// Render all charts
{% if project.bar1_variable %}bar1_{{ project.id }}_chart.render(){% endif %}
{% if project.bar2_variable %}bar2_{{ project.id }}_chart.render(){% endif %}
{% if project.pie1_variable %}pie1_{{ project.id }}_chart.render(){% endif %}
{% if project.pie2_variable %}pie2_{{ project.id }}_chart.render(){% endif %}

//// set up a data toggle using radio buttons
{% if project.switch_variable %}
var toggl_dim_IV_{{ project.id }} = xfilter_IV_{{ project.id }}.dimension(function(d) {return d["{{ project.switch_variable }}"];});
var handle_dc_switch_toggle_IV_{{ project.id }} = function(elem){
    var val = elem.value;
    toggl_dim_IV_{{ project.id }}.filterAll()
    toggl_dim_IV_{{ project.id }}.filter(function(d){return d == val;})
    dc.redrawAll();
}

var toggle_group_IV_{{ project.id }} = toggl_dim_IV_{{ project.id }}.group();
var toggle_keys_IV_{{ project.id }} = toggle_group_IV_{{ project.id }}.all().map(function(x) {return x.key;})
var switch_elem_IV_{{ project.id }} = document.getElementById("dc_switch_{{ project.id }}")
for (var i = 0; i < toggle_keys_IV_{{ project.id }}.length; i++){
    var selected_str = ""
    if (i==0){
    selected_str = " checked='checked'"
    handle_dc_switch_toggle_IV_{{ project.id }}({"value":toggle_keys_IV_{{ project.id }}[i]})
    }
    switch_elem_IV_{{ project.id }}.innerHTML += "<div class='radio-inline'><label><input type='radio' onclick='handle_dc_switch_toggle_IV_{{ project.id }}(this);' name='optradio' value='"+toggle_keys_IV_{{ project.id }}[i]+"'"+ selected_str +">"+toggle_keys_IV_{{ project.id }}[i]+"</label></div>"
}
{% endif %}

//// Finalize charts: add axis labels and re-draw to work around dc.js issues

// from the answer here: http://stackoverflow.com/questions/21114336/how-to-add-axis-labels-for-row-chart-using-dc-js-or-d3-js
// it's pretty weird (and terrible) that dc.js doesn't have this already...
function addXAxis(chartToUpdate, displayText)
{
    chartToUpdate.svg()
                .append("text")
                .attr("class", "x-axis-label")
                .attr("text-anchor", "middle")
                .attr("x", chartToUpdate.width()/2)
                .attr("y", chartToUpdate.height())
                .text(displayText);
}
{% if project.pie1_variable %}addXAxis(pie1_{{ project.id }}_chart, {{ project.pie1_title }}){% endif %}
{% if project.pie2_variable %}addXAxis(pie2_{{ project.id }}_chart, {{ project.pie2_title }}){% endif %}

// remove filters and redraw bar charts so they don't start out with a reset button 
// (due to what I assume is a dc.js bug)
{% if project.bar1_variable %}bar1_{{ project.id }}_chart.filterAll(){% endif %}
{% if project.bar2_variable %}bar2_{{ project.id }}_chart.filterAll(){% endif %}
dc.redrawAll()

</script>


{% endblock %}
