{% extends "core/base.html" %}
{% block content %}
<h2>State Bills Browser</h2>

<form action="{{ action_path }}" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <input type="text" name="query_text" placeholder="Search terms...">
  <select name="state_id">
    {% for s in states %}  <option value="{{ s.id }}">{{ s.name }}</option>
    {% endfor %}
  </select>  
  <input type="submit" value="Submit" />
</form>

{% if results %}
<h3>Results</h3>
<i>Search: {{ query_description }}</i>
<table class="table">
  <thead>
    <th style="width: 100px;">Bill ID</th>
    <th>Bill Name</th>
    <th style="width: 150px;">Last Action Date</th>
  </thead>
  <tbody>
    {% for r in results %}
    <tr>
      <td><a href="/apps/legislators/participate/{{ r.id }}">{{ r.participation_project.billsproject.bill_id }}</a></td>
      <td>{{ r.name }}</td>
      <td>{{ r.last_action_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
