{% extends "core/base.html" %}
{% block content %}
<h2>State Bills Browser</h2>

<form action="{{ action_path }}" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <input type="text" name="query_text" placeholder="Search terms...">
  <select name="state_id">
    {% for s in states %}  <option value="{{ s.id }}">{{ s.name }}</option>
    {% endfor %}
  </select>  
  <input type="submit" value="Submit" />
</form>

<p>
  <i>This page presents data from the <a target="_blank" href="https://openstates.org">openstates.org API</a>, which is available under a <a target="_blank" href="https://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution license</a></i>
</p>

{% if query_description %}
<h3>Results: {{ query_description }}</h3>
<table class="table">
  <thead>
    <th style="width: 100px;">Bill ID</th>
    <th>Bill Name</th>
    <th style="width: 150px;">Last Action Date</th>
  </thead>
  <tbody>
    {% for r in results %}
    <tr>
      <td><a href="/apps/legislators/participate/{{ r.id }}">{{ r.participation_project.billsproject.bill_id }}</a></td>
      <td>{{ r.name }}</td>
      <td>{{ r.last_action_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
