{% extends "core/base.html" %}
{% block content %}
{% load staticfiles %}
<h2>State Legislators Browser</h2>

<form action="{{ action_path }}" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <input type="hidden" name="query_text" value="">
  <select name="state_id">
    {% for s in states %}  <option value="{{ s.id }}">{{ s.name }}</option>
    {% endfor %}
  </select>  
  <input type="submit" value="Submit" />
</form>

{% if results %}
<h3>Results</h3>
<i>Search: {{ query_description }}</i>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th style="width: 150px;">Photo</th>
    <th>Contact / website</th>
  </thead>
  <tbody>
    {% for r in results %}
    <tr>
      <td><a href="/apps/legislators/participate/{{ r.id }}">{{ r.participation_project.legislatorsproject.name }}</a></td>
      <td>Serving {{ r.participation_project.legislatorsproject.chamber }} chamber, District {{ r.participation_project.legislatorsproject.district }}</td>
      <td>
	{% if r.participation_project.legislatorsproject.photo_url %}
	<span>
	  <img  src="{% static r.display_image_file %}" width="90">
	</span>
	{% endif %}
      </td>
      <td>{% if r.participation_project.legislatorsproject.email %}<a target="_blank" href="mailto:{{ r.participation_project.legislatorsproject.email }}">{{ r.participation_project.legislatorsproject.email }}</a><br>{% endif %}{% if r.participation_project.legislatorsproject.webpage_url %}<a href="{{ r.participation_project.legislatorsproject.webpage_url }}">website</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
